@import url(Master.css);

.section_one{
    display: flex;
    justify-content: space-between;
    margin: 5% 10% 5% 10%;
}

p::first-letter{
    font-size: 400%;
}

p{
    width: 40%;
    font-size: larger;
    line-height: 2rem;
    letter-spacing: 0.5px;
}

.section_two{
    display: flex;
    justify-content: space-between;
    margin: 10% 10% 5% 10%;
}

.Title a{
    font-family: 'Soria';
    font-size: 4rem;
    color: var(--title-color);
    padding: 0;
    margin: 0;
    text-decoration: none;
}

img{
    width: 30%;
    height: 30%;
}

.card ul{
    display: inline-block;
    width: 15rem;
}

.card ul li{
    color: var(--navbar-text);
    margin: 1rem;
    font-size: larger;
    line-height: 2rem;
    letter-spacing: 0.5px;
    list-style-type: none;
    font-family: 'Semplicita';
}

.subheader{
    font-size: 4rem;
    padding: 0;
    margin: 0;
    color: var(--text-color);
}

.nested-list-title{
    margin-bottom: 0;
    padding: 0;
    font-weight: bold;
}

.card{
    display: flex;           
    flex-direction: column;   
    align-items: center;     
    justify-content: center;   
    text-align: center; 
    background-color: var(--highlight-color);
    height: 8rem;
    width: 5rem;
    padding: 8rem;
    border-radius: 1rem;
    margin: 5%;
}

.card-holder{
    display: flex;
    flex-wrap: wrap;
}