@import url(Master.css);

p{
    width: 40%;
    font-size: larger;
    line-height: 2rem;
    letter-spacing: 0.5px;
}

.section{
    display: flex;
    justify-content: space-between;
    margin: 10% 3% 10% 3%;
}

.price-list li{
    color: var(--navbar-text);
    margin: 5rem 0 5rem 0;
    font-size: 1.5rem;
    line-height: 1rem;
    letter-spacing: 0.5px;
    list-style-type: none;
    color: var(--paragraph-color);
}

ul .nested-list-title{
    margin-bottom: 0;
    padding: 0;
    font-weight: bold;
    color: var(--text-color);
    font-size: 2.5rem;
    margin: 1rem 0rem 1rem 0
}

.big-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media(max-width: 600px){
    .section{
        display: flex;
        justify-content: space-between;
        margin: 5% 10% 5% 10%;
    }
}