# Ignore environment variables
.env

# Python cache files
__pycache__/
*.pyc

# Database files (if using SQLite)
db.sqlite3

# Node / build artifacts
node_modules/
dist/

# Translation files
*.pot

# Compiled Python
*.py[cod]

# --- Fonts are ALLOWED ---
!*.ttf
!*.otf
!*.woff
!*.woff2

# OS files
.DS_Store