@import url(Master.css);

.section_one{
    display: flex;
    justify-content: space-between;
    margin: 5% 10% 5% 10%;
}

p{
    display: block;
    margin: 5% auto;
    width: 60%;
    font-size: larger;
    line-height: 2rem;
    letter-spacing: 0.5px;
    text-align: center;
    font-family: 'Semplicita';
}

.section_two{
    margin: 10% 10% 5% 5%;
}

img{
    width: 30%;
    height: 30%;
    margin: 5%;
}

.TheForm input{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: var(--navbar-text)
}

textarea{
    border: 1px black;
}

.Submit{
    background-color: white;
    box-shadow: 5px 5px black;
    cursor: pointer;
}

.FAQ_list{
    display: flex;
    flex-direction: row; /* Stack vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically if there's extra space */
    padding: 0;
    margin: 0 auto;
    width: 100%;
    font-family: 'Semplicita';
}

.FAQ_list ul{
    width: 100%;
}

.FAQ_list li{
    color: var(--paragraph-color);
    margin: 1rem;
    font-size: larger;
    line-height: 2rem;
    letter-spacing: 0.5px;
    list-style-type: none;
    text-align: center;
}

.subheader{
    font-size: 4rem;
    padding: 0;
    text-align: center;
    color: var(--text-color);
}

.bold{
    font-weight: bold;
}

.who{
    margin: 0;
}

.toContactPage{
    margin: 0 auto;
    padding: 1.5rem;
    font-size: 1.5rem;
    color: var(--navbar-text);
    background-color: var(--text-color);
    border: none;
    font-weight: bold;
    display: block;
    margin: 5% auto;
    text-decoration: none;
    box-shadow: 0.5rem 0.5rem black
}

.toContactPage a{
    text-decoration: none;
    color: var(--navbar-text);
}

@media(max-width: 600px){
    .FAQ_list{flex-direction: column;}
    
    .section_one{
        margin: 5% 5% 5% 5%;
    }
    .section_two{
        margin: 5% 5% 5% 5%;
    }
    .toContactPage{
        margin-bottom: 3rem;
    }
}