@import url(Master.css);

.section{
    display: flex;
    justify-content: space-between;
    margin: 5% 10% 5% 10%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.Info-text{
    margin: 1rem;
    text-align: center;
}

p{
    width: 40%;
    font-size: larger;
    line-height: 2rem;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 0;
}

img{
    width: 30%;
    height: 30%;
}

.Values{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}

.Values li{
    color: var(--paragraph-color);
    margin: 2rem;
    font-size: larger;
    line-height: 2rem;
    letter-spacing: 0.5px;
    font-family: 'Semplicita';
    text-align: center;
    list-style-type: none;
}

.subheader{
    text-align: center;
    font-size: 4rem;
    padding: 0;
    margin: 0;
    color: var(--text-color);
}

@media (max-width: 600px){
    .section{
        display: flex;
        margin: 5% 10% 5% 5%;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .Values{
        width: 100%;
    }
    .Info-text{
        width: 100%;
    }
}