@import url(Master.css);

.section_one{
    display: flex;
    justify-content: space-between;
    margin: 5% 10% 5% 10%;
}

p{
    width: 40%;
    font-size: larger;
    line-height: 2rem;
    letter-spacing: 0.5px;
}

.section_two{
    display: flex;
    justify-content: space-between;
    margin: 10% 10% 5% 10%;
}

img{
    width: 30%;
    height: 30%;
}

.FAQ_list{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}

.FAQ_list li{
    color: var(--paragraph-color);
    margin: 2rem;
    font-size: larger;
    line-height: 2rem;
    letter-spacing: 0.5px;
    font-family: 'Semplicita';
    text-align: center;
    list-style-type: none;
}

.subheader{
    text-align: center;
    font-size: 4rem;
    padding: 0;
    margin: 0;
    color: var(--text-color);
}