@import url(Master.css);

.section{
    display: flex;
    justify-content: space-between;
    margin: 5% 10% 5% 10%;
}

.side-text{
    max-width: 90%;
    margin: 1rem;
}

p{
    font-size: larger;
    line-height: 2rem;
    letter-spacing: 0.5px;
    font-family: 'Semplicita';
}

.TheForm {
  background-color: white;
  width: 100%;         
  height: 50%;        
  padding: 2rem;       

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   
  margin-right: 10%; 
}

textarea {
    width: 97%;
    height: 30%;
    max-width: 97%;
    max-height: 30%;
    padding: 1em;
    border: 2px solid black;
    margin-bottom: 1rem;
    box-sizing: border-box;
    background-color: var(--navbar-text);
}

.TheForm input{
    margin-bottom: 5%;
    font-size: 1.5rem;
    padding: 3%;
    background-color: var(--navbar-text);
}

.Submit{
    width: fit-content;
    background-color: white;
    box-shadow: 5px 5px black;
    cursor: pointer;
    transition: 0.1s ease-in-out; 
}

.Submit:hover{
    background-color: var(--text-color);
    font-size: 1.8rem;
}

.FAQ_list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}

.FAQ_list li{
    color: var(--paragraph-color);
    margin: 1rem;
    font-size: larger;
    line-height: 2rem;
    letter-spacing: 0.5px;
    font-family: 'Semplicita';
}

.subheader{
    font-size: 4rem;
    padding: 0;
    margin: 0 0 0 0;
    color: var(--text-color);
}

.ParagraphPoints li{
    width: 100%;
    font-size: larger;
    line-height: 2rem;
    letter-spacing: 0.5px;
    color: var(--paragraph-color);
    font-family: 'Semplicita';
    list-style-type: none;
}

@media(max-width: 600px){
    .section{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .side-text{
        margin: 2rem;
        word-wrap: break-word;
    }
   
    .Submit:hover{
        background-color: var(--text-color);
        font-size: 1rem;
    }
    .TheForm input{
        margin-bottom: 5%;
        font-size: 1.5rem;
        padding: 3%;
        background-color: var(--navbar-text);
        width: 90%;
    }
    .TheForm {
        background-color: white;
        width: 70%; 
    }
}