@import url(Master.css);

.section_one{
    display: flex;
    justify-content: space-between;
    margin: 5% 20% 5% 10%;
}

p{
    width: 100%;
    font-size: larger;
    line-height: 2rem;
    letter-spacing: 0.5px;
}

.section_two{
    display: flex;
    justify-content: space-between;
    margin: 10% 10% 5% 10%;
}

img{
    width: 30%;
    height: 30%;
}

.TheForm {
  background-color: white;
  width: 30rem;         
  height: 30rem;        
  padding: 2rem;       

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   
  margin-right: 10%; 
}

textarea {
    width: 97%;
    height: 30%;
    max-width: 97%;
    max-height: 30%;
    padding: 1em;
    border: 2px solid black;
    margin-bottom: 1rem;
    box-sizing: border-box;
    background-color: var(--navbar-text);
}

.TheForm input{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: var(--navbar-text);
}

textarea{
    border: 1px black;
}

.Submit{
    background-color: white;
    box-shadow: 5px 5px black;
    cursor: pointer;
}

.FAQ_list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
}

.FAQ_list li{
    color: var(--paragraph-color);
    margin: 1rem;
    font-size: larger;
    line-height: 2rem;
    letter-spacing: 0.5px;
    font-family: 'Semplicita';
}

.subheader{
    font-size: 4rem;
    padding: 0;
    margin: 0 0 0 0;
    color: var(--text-color);
}

.ParagraphPoints li{
    width: 100%;
    font-size: larger;
    line-height: 2rem;
    letter-spacing: 0.5px;
    color: var(--paragraph-color);
    font-family: 'Semplicita';
}